{% extends 'base.html' %}


{% block title %}댓글 삭제{% endblock %}

{% block content %}

    <div class="flex justify-center mt-20 mb-20 mx-10">
        <div>
            <h3 class="text-4xl text-error text-center mb-10">꼭 읽어주세요.</h3>
            <ul class="text-lg">
                <li>- 삭제된 댓글은 절대 복구할 수 없습니다.</li>
            </ul>
        </div>
    </div>

    <div class="flex justify-center text-3xl mb-10">
        정말 삭제하시겠습니까?
    </div>

    <div class="flex justify-center">
        <form method="post">
            {% csrf_token %}
            <a href="javascript:history.back()" class="btn mr-10">취소</a>
            <button type="submit" class="btn btn-error ml-10">삭제</button>
        </form>
    </div>
{% endblock %}