{% extends '../base.html' %}

{% block title %}비밀번호 재설정{% endblock %}

{% block content %}

    {% if validlink %}
        <div class="flex justify-center mt-40">
            <form method="post" class="xl:w-2/12 lg:w-4/12 md:w-6/12 sm:w-8/12 w-10/12">
                {% csrf_token %}
                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" style="width: 100%" class="input input-primary input-bordered my-2" minlength="8" placeholder="새 비밀번호">
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" style="width: 100%" class="input input-primary input-bordered my-2" minlength="8" placeholder="새 비밀번호 확인">
                <div class="flex justify-end">
                    <button type="submit" class="btn btn-primary btn-block">비밀번호 변경</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="flex justify-center mt-40 mx-10">
            <p class="text-success text-3xl">만료된 페이지입니다.</p>
        </div>
        <div class="flex justify-center mt-10 mx-10">
            <p>이미 비밀번호가 재설정되었습니다. 로그인하거나 비밀번호 찾기를 해주세요.</p>
        </div>
        <div class="flex justify-center mt-10 link link-hover text-warning">
            <a href="{% url 'users:login' %}">로그인</a>
        </div>
        <div class="flex justify-center mt-10 link text-sm text-gray-500">
            <a href="{% url 'password_reset' %}" class="mx-5">비밀번호 찾기</a>
        </div>
    {% endif %}
{% endblock %}