{% extends 'base.html' %}


{% block title %}비밀번호 변경{% endblock %}

{% block content %}

    <div class="flex justify-center my-20 mx-10">
        <div>
            <h3 class="text-4xl text-error text-center mb-10">꼭 읽어주세요.</h3>
            <ul class="text-lg">
                <li>- 학생의 동의 없이 비밀번호를 변경하지 마세요.</li>
            </ul>
        </div>
    </div>

    <div class="flex justify-center">
        <form method="post" class="xl:w-2/12 lg:w-4/12 md:w-6/12 sm:w-8/12 w-10/12">
            {% csrf_token %}
            <p><input type="password" name="password" required id="id_password" class="input input-primary input-bordered my-2" placeholder="새로운 비밀번호" style="width: 100%;"></p>
            <p><input type="password" name="password1" required id="id_password1" class="input input-primary input-bordered my-2" placeholder="새로운 비밀번호 확인" style="width: 100%;"></p>
            <div class="flex justify-end">
                <button type="submit" class="btn btn-primary btn-block">변경하기</button>
            </div>
        </form>
    </div>
{% endblock %}