{% extends 'base.html' %}


{% block title %}로그인{% endblock %}

{% block content %}
    <div class="flex justify-center mt-40">
        <form method="post" class="xl:w-2/12 lg:w-4/12 md:w-6/12 sm:w-8/12 w-10/12">
            {% csrf_token %}
            <p><input class="input {% if form.errors %}input-error{% else %} input-primary{% endif %} input-bordered my-2" style="width: 100%" type="text" name="username" autofocus maxlength="20" required id="id_username" placeholder="아이디"></p>
            {% if form.errors %}
                <p class="label-text-alt text-error text-right">아이디를 확인해주세요 :)</p>
            {% endif %}
            <p><input class="input {% if form.errors %}input-error{% else %} input-primary{% endif %} input-bordered my-2" style="width: 100%" type="password" name="password" minlength="8" maxlength="20" required id="id_password" placeholder="비밀번호"></p>
            {% if form.errors %}
                <p class="label-text-alt text-error text-right">비밀번호를 확인해주세요 :)</p>
            {% endif %}
            <div class="flex justify-end mt-5">
                <button type="submit" class="btn btn-primary btn-block">로그인</button>
            </div>
        </form>
    </div>
    <div class="flex justify-center mt-10 link link-hover text-warning">
        <a href="{% url 'users:signup' %}">회원가입</a>
    </div>
    <div class="flex justify-center mt-10 link text-sm text-gray-500">
        <a href="{% url 'users:find_id' %}" class="mx-5">아이디 찾기</a>
        <a href="{% url 'password_reset' %}" class="mx-5">비밀번호 찾기</a>
    </div>
{% endblock %}