{% comment %} <div class="xl:h-0 lg:h-0 md:h-48 sm:h-96 h-96"></div> {% endcomment %}

<footer class="p-10 footer bg-primary text-accent footer-center">
    <div class="grid grid-flow-col gap-4">
      <a href="{% url 'base:intro' %}" class="link link-hover">소개</a>
      <a href="{% url 'base:notice' %}" class="link link-hover">공지사항</a> 
      <a href="{% url 'base:qna' %}" class="link link-hover">자주 묻는 질문</a> 
      <a href="{% url 'base:contact' %}" class="link link-hover">문의/제안</a>
    </div> 
    
    <div>
      <p>Copyright © 2022 - All right reserved by Classbinu</p>
    </div>

</footer>