<strong>1. 개인정보 수집·이용 목적</strong>
<br/>
콘텐츠 등 기존 서비스 제공(광고 포함), 인구통계학적 분석, 서비스 방문 및 이용기록의 분석, 개인정보 및 관심에 기반한 이용자간 관계의 형성, 지인 및 관심사 등에 기반한 맞춤형 서비스 제공 등 신규 서비스 요소의 발굴 및 기존 서비스 개선, 법령 및 이용약관을 위반하는 회원에 대한 이용 제한 조치, 부정 이용 행위를 포함하여 서비스의 원활한 운영에 지장을 주는 행위에 대한 방지 및 제재, 계정도용 및 부정거래 방지, 약관 개정 등의 고지사항 전달, 분쟁조정을 위한 기록 보존, 민원처리 등 이용자 보호 및 서비스 운영, 유료 서비스 제공에 따르는 본인인증, 구매 및 요금 결제, 상품 및 서비스의 배송, 이벤트 정보 및 참여기회 제공, 서비스 이용기록과 접속 빈도 분석, 서비스 이용에 대한 통계, 서비스 분석 및 통계에 따른 맞춤 서비스 제공 및 광고 게재, 보안, 프라이버시, 안전을 위해 개인정보를 이용합니다.
<br/>
<br/>

<strong>2. 오늘의 일기에서 수집·이용하는 개인정보 항목</strong>
<br/>
이메일 가입 시(이메일주소, 이름, 비밀번호, 사용자 역할)SNS로 가입 시(이용자 고유 식별자, 이메일주소, 이름, 사용자 역할)휴대전화 번호로 가입 시(휴대전화 번호, 이메일주소, 이름, 비밀번호, 사용자 역할)아이디로 가입 시(아이디, 이메일주소, 이름, 비밀번호, 사용자 역할), 단말기 정보, [선택] 학교명, 학년, 반 [선택] 보호자와의 관계
<br/>
<br/>

<strong>3. 자동수집하는 개인정보 항목</strong>
<br/>
스마트폰 등 단말기 주소록 내에 저장된 연락처 정보(제3자의 전화번호, 이름), 쿠키, 서비스 이용 기록(방문일시, IP, 로그인 시간, 사용자 역할, 국가, 도시 등), 단말기 정보(OS, 화면사이즈, 디바이스 아이디, 폰기종, 단말기 모델명 등), CPU 및 랜카드 정보 등 운영 체제 및 하드웨어 환경 정보
<br/>
<br/>

<strong>4. 개인정보 보유기간</strong>
<br/>
이용자의 개인정보는 동의를 받은 개인정보의 수집 및 이용목적이 달성되면 법령 또는 내부방침에 의해 보존할 필요가 있는 경우를 제외하고는 지체없이 파기됩니다. 
<br/>
<br/>

<strong>5. 개인정보 수집 동의 거부에 관한 권리</strong>
<br/>
이용자는 오늘의 일기 회원가입을 위한 개인정보 수집을 거부할 수 있습니다. 수집 거부 시 회원가입이 제한됩니다.