{% extends 'base.html' %}

{% load static %}

{% block title %}소개{% endblock %}

{% block content %}

    <div class="text-center mt-20 mb-10">
        <p class="text-2xl text-warning">누가 만들었나요?</p>
    </div>

    <div class="flex justify-center text-right">
        <div class="card lg:card-side bg-base-100 py-10 px-5 shadow-xl xl:w-4/12 lg:w-6/12 w-10/12">
            <div class="tooltip tooltip-open tooltip-primary" data-tip="야옹-">
                <figure><img src="{% static 'base/img/binu.jpg' %}" alt="Cat" class="rounded-full mr-10" style="width: 200px; height: 200px; object-fit: cover;"></figure>
            </div>
            <div class="card-body">
                <h2 class="card-title text-2xl">Classbinu</h2>
                <br>
                <ul>
                    <li>초등학교 교사</li>
                    <li>아마추어 1인 개발자</li>
                    <li>classbinu@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center mt-44 mb-10">
        <p class="text-2xl text-warning">'오늘의 일기'가 만들어진 과정</p>
    </div>
    <div class="xl:block lg:block md:block hidden">
        <div class="text-center">
            <ul class="steps">
                <li data-content="'14" class="step step-neutral"><p class="mx-10">"초등학생이 좋아하는 글쓰기 소재 365"<br>출판</p></li>
                <li data-content="'15" class="step step-neutral"><p class="mx-10">"초등학생이 좋아하는 글쓰기 소재 365"<br>개정 2판</p></li>
                <li data-content="'16" class="step step-neutral"><p class="mx-10">"초등학생이 좋아하는 글쓰기 소재 365"<br>핸디북 초판</p></li>
                <li data-content="'19" class="step step-neutral"><p class="mx-10">"초등학생이 좋아하는 글쓰기 소재 365"<br>개정 3판</p></li>
            </ul>
        </div>
        <div class="text-center mt-20">
            <ul class="steps">
                <li data-content="'20" class="step step-neutral"><p class="mx-10">"오늘 뭐 써요?" 웹사이트 개발</p></li>
                <li data-content="'20" class="step step-neutral"><p class="mx-10">"오늘 뭐 써요?" 앱 개발</p></li>
                <li data-content="'21" class="step step-neutral"><p class="mx-10">"오늘은 뭐 쓸까?" 출판</p></li>
                <li data-content="'22" class="step step-neutral"><p class="mx-10">"오늘의 일기" 웹/앱 개발</p></li>
                <li data-content="'24" class="step step-neutral"><p class="mx-10">AI 튜터 적용</p></li>
            </ul>
        </div>
    </div>

    <div class="xl:hidden lg:hidden md:hidden block">
        <div class="text-center">
            <ul class="steps steps-vertical">
                <li data-content="'14" class="step step-neutral">"초등학생이 좋아하는 글쓰기 소재 365" 출판</li>
                <li data-content="'15" class="step step-neutral">" ~ 글쓰기 소재 365" 개정 2판</li>
                <li data-content="'16" class="step step-neutral">" ~ 글쓰기 소재 365" 핸디북 초판</li>
                <li data-content="'19" class="step step-neutral">" ~ 글쓰기 소재 365" 개정 3판</li>
                <li data-content="'20" class="step step-neutral">"오늘 뭐 써요?" 웹사이트 개발</li>
                <li data-content="'20" class="step step-neutral">"오늘 뭐 써요?" 앱 개발</li>
                <li data-content="'21" class="step step-neutral">"오늘은 뭐 쓸까?" 출판</li>
                <li data-content="'22" class="step step-neutral">"오늘의 일기" 웹/앱 개발</li>
                <li data-content="'24" class="step step-neutral">"AI 튜터 적용"</li>
            </ul>
        </div>
    </div>
        
{% endblock %}